
.header {
    height: 34dvw;
    background: url('/header_img.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.header-contents {
    position: absolute;
    display: flex; /* Using Flexbox for easy centering */
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%; /* Adjust as needed */
    bottom: 10%; /* Adjust the vertical position */
    left: 8vw; /* Adjust the horizontal position */
    animation: fadeIn 3s; /* Add a fade-in animation */
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: white;
    font-size: 1vw; /* Adjust font size */
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}
@media (max-width:1050px) {
    .header {
        height: 38vw;
    }
    .header-contents {
        max-width: 45%;
    }
}
@media (max-width:750px) {
    .header-contents {
        max-width: 55%;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 2vw;
    }
}
